
body{
  display: flex;
  justify-content: center;
  background-color: #F4F074;
  font-family:Arial, Helvetica, sans-serif
}

div{
   position: absolute;
   top:50%;
   
}

a{
    border: solid 2px rgb(174, 196, 244);
    background-color: rgb(174, 196, 244) ;
    border-radius: 10px;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow:5px 5px 5px grey;
}

a:hover{
    color: rgb(174, 196, 244);
    background-color: white;
}

a:active{
    padding: 12px 25px;
}

