.left{
	background-color: #F4F074;
	position: fixed;
	width: 50%;
	height:100%;
	top: 0;
	left:0;
}

.interface {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h1{
    padding: 30px 0;
}

.button {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
}


.nervous{
	position: absolute;
    bottom: 65%;
    left: 30%;
    background: url(./img/texte1.png) no-repeat top;
    width: 250px;
    height: 250px;
    display: none;
}

.nervous.show{
    display:block;
}


.right{
    background: url(./img/background.jpeg.jpeg) no-repeat center;
    position: fixed;
	width: 50%;
	height:100%;
	top: 0;
	right:0;
}

.rocket{
	position: absolute;
	left: 35%;
	top: 80%;
	width:200px;
	height: 270px;
	background: url('./img/buzz_1.1.png') no-repeat center;
	transition: top 10000ms;
}

body.body-state2 .rocket{
	background-image: url('./img/buzz2.png');
}

body.body-state3 .rocket, body.body-state4 .rocket{
    background-image: url('./img/buzz3.png');
}

body.body-state5 .rocket{
	background-image: url('./img/ohno.jpeg');
    top: 50%;
    left: 25%;
    width: 50%;
    
}

body.body-state1 .rocket{
	transition: none;
}

body.body-state1 .nervous.show{
    display: none;
}

body.body-state3 .rocket, body.body-state4 .rocket{
	top: -200px;
}

.state1, .state2, .state3, .state4, .state5{
	display: none;
}

body.body-state1 .state1 {display:block;}
body.body-state2 .state2 {display:block;}
body.body-state3 .state3 {display:block;}
body.body-state4 .state4 {display:block;}
body.body-state5 .state5 {display:block;}

/*RESPONSIVE*/

@media screen and (max-width: 950px){
    .flexbox{
        display: flex;
        flex-direction: column;
    }

    .left, .right{
        width: 100%;
    }

    .left, .right{
        position: relative;
    }

    .right{
        height: 500px;
    }

    .left{
        height: 200px;
        padding-top:-10px;
        z-index: 1;
    }

    .rocket{
        top:60%;
    }
}