.left{
	background-color: #F4F074;
	position: fixed;
	width: 50%;
	height:100%;
	top: 0;
	left:0;
}

.interface {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h1{
    padding: 30px 0;
}

.button {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.right{
    background: url(./img/background.jpeg.jpeg) no-repeat center;
    position: fixed;
	width: 50%;
	height:100%;
	top: 0;
	right:0;
}

.rocket{
	position: relative;
	left: 50%;
	top: 80%;
	width:200px;
	height: 270px;
	margin-left:-71.5px;
	background: url('./img/buzz_1.1.png') no-repeat 0 0;
	transition: bottom 10000ms;
}
